.main-Blog__Header{
    background: url("../assets/blog-image-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    &--title{
        position: absolute;
        @include fontSizeTwo(80);
        margin: -40px 120px;
    }
    .title-Blog__sophie{
        margin: 0 auto;
        display: none;
    }
}

.main-Blog-Container{
    background: $secondaryColor;
    padding-top: 100px;
    a{
        color: $linkColor;
        font-weight: bold;
        text-decoration: none;
        &:hover {
        color: lighten($linkColor, 10);
        }

    }
}

.main-Blog-Wrapper{
    display: flex;
}

.main-Blog__about,
.main-Blog__recent,
.main-Blog__article,
.main-Blog__article--archive{
    background: white;
}

.main-Blog__title{
    &--about, &--recent{
        @include fontSize(24); 
    }
}

.main-Blog__text{
    @include pText(20);
    &--list{
    @include pText(20);
    }
    &--sophie-Date{
        @include pText(20);
        font-style: italic;
    }
}

.main-Blog__aside{
    width: 320px;
}

.main-Blog__about{
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
}

.main-Blog__recent{
    padding: 20px;
}

.main-Blog__text{
    &--list{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &--item::before{
        content: "\2022";
        color: $primaryColor;
        font-size: 20px; 
        margin: 0 15px 0 0;
    }
}


.main-Blog__section{
    width: 75%;
}

.main-Blog__article{
    margin: 0 0 20px 40px;
    padding: 50px;
    border-bottom: 5px solid $primaryColor;
    &--content{
        margin: 0 0 0 20px;
    }
}

.main-Blog__text{
    margin-top: 0;
}

.main-Blog__article--archive{
    display: flex;
    margin: 0 0 20px 40px;
    padding: 30px;
    &:nth-child(3){
        border-bottom: 5px solid #f6a823;
    }
}

.main-Blog__article--img{
    width: 80px;
    height: 80px;
}

.main-Blog__text--date{
    @include pText(20);
    color: $linkColor;
    font-style: italic;
    margin-top: 0;
}


@media (max-width: 905px){

// MAIN BLOG ASIDE

    .main-Blog__recent{
        display: none;
    }

    .main-Blog-Wrapper{
        flex-direction: column;
        .main-Blog__aside{
            width: 100%;
            .main-Blog__about{
                height: 500px;
            }
        }
    }

    .main-Blog__about img{
        float: left;
        width: 50%;
        height: 400px;
        object-fit: contain;
    }

    .main-Blog__title--about{
        margin: 150px 0 20px 360px;
    }

    .main-Blog__text-about{
        margin-left: 360px;
    }


// MAIN BLOG SECTION

    .main-Blog__section{
        width: 100%;
        .main-Blog__article{
            margin: 0 0 20px 0px;
            .sophie-title--blog, .main-Blog__text--sophie-Date{
                text-align: center;
            }
        }
    }

    .main-Blog__article--archive{
        margin: 0 0 20px 0px;
    }

}

@media (max-width: 768px){
// MAIN BLOG ASIDE

    .main-Blog__about img{
        float: none;
        width: 100%;
        padding: 20px 20px 0 20px;
    }

    .main-Blog__title--about, 
    .main-Blog__text-about{
        margin: 30px 0 0 0;
    }

     .main-Blog-Wrapper{
        .main-Blog__aside{
            .main-Blog__about{
                height: 590px;
                text-align: center;
                padding: 0 20px 0 20px;
            }
        }
    }

}

@media (max-width: 550px){

    .main-Blog__article{
        padding: 30px;
    }

    .main-Blog__article--archive{
        padding: 10px;
    }

    .main-Blog__article--archive:nth-child(2){
        display: none;
    }

    .main-Blog__article--item{
        display: none;
    }

    .main-Blog__title--about, 
    .main-Blog__text-about{
        margin: 0;
    }

}

@media (max-width: 480px){

    .main-Blog__Header{
        .title-Blog__sophie{
            display: block;
            text-shadow: 1px 1px 1px black;
        }
    }
}

@media (max-width: 400px){
    .main-Blog__Header--title{
        margin: -40px 90px;
    }
}

@media (max-width: 320px){
    .main-Blog__Header--title{
        margin: -40px 50px;
    }
}


