.main-Blog__Header{
    background: url("../assets/blog-image-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    &--title{
        position: absolute;
        @include fontSizeTwo(80);
        margin: -40px 120px;
    }
}

.main-Blog-Container{
    background: $secondaryColor;
    padding-top: 100px;
    a{
        color: $linkColor;
        font-weight: bold;
        text-decoration: none;
        &:hover {
        color: lighten($linkColor, 10);
        }

    }
}


.main-Blog-Wrapper{
    display: flex;
}

.main-Blog__about,
.main-Blog__recent,
.main-Blog__article,
.main-Blog__article--archive{
    background: white;
}

.main-Blog__title{
    &--about, &--recent{
        @include fontSize(24); 
    }
}

.main-Blog__text{
    @include pText(20);
    &--list{
    @include pText(20);
    }
    &--sophie-Date{
        @include pText(20);
        font-style: italic;
    }
    // a{
    //     color: $linkColor;
    //     font-weight: bold;
    //     text-decoration: none;
    //     &:hover {
    //     color: lighten($linkColor, 10);
    //     }
    // }
}

.main-Blog__aside{
    width: 320px;
}

.main-Blog__about{
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
}

.main-Blog__recent{
    padding: 20px;
}

.main-Blog__text{
    &--list{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &--item::before{
        content: "\2022";
        color: $primaryColor;
        font-size: 20px; 
        margin: 0 15px 0 0;
    }
}


.main-Blog__section{
    width: 75%;
}

.main-Blog__article{
    margin: 0 0 20px 40px;
    padding: 50px;
    border-bottom: 5px solid $primaryColor;
    &--content{
        margin: 0 0 0 20px;
    }
}

.main-Blog__text{
    margin-top: 0;
}

.main-Blog__article--archive{
    display: flex;
    margin: 0 0 20px 40px;
    padding: 30px;
    &:nth-child(3){
        border-bottom: 5px solid #f6a823;
    }
}

.main-Blog__article--img{
    width: 80px;
    height: 80px;
}

.main-Blog__text--date{
    @include pText(20);
    color: $linkColor;
    font-style: italic;
    margin-top: 0;
}


