
.myForm{
    margin: 0 0 0 40px;
    &--topForm{
        display: flex;
    }
    &--bottomForm{
        display: flex;
        flex-direction: column;
    }
}

.myInput{
    &--name, &--email{
    @include pText(18);
     width: 50%;
     height: 50px;
     padding-left: 50px;
     font-style: italic;
    }
    &--Comment{
        width: 100%;
        height: 300px;
        @include pText(18);
        padding: 0px 0px 220px 50px;
        margin: 10px 0;
    }

}

.myInput--name{
    margin-right: 10px;
}

button{
    @extend .find-Out-More__button;
    margin-bottom: 100px;
}