
.myForm{
    margin: 0 0 0 40px;
    &--topForm{
        display: flex;
    }
    &--bottomForm{
        display: flex;
        flex-direction: column;
    }
}

.myInput{
    &--name, &--email{
    @include pText(18);
     width: 50%;
     height: 50px;
     padding-left: 50px;
     font-style: italic;
     border: none;
    }
    &--Comment{
        width: 100%;
        height: 300px;
        @include pText(18);
        padding: 0px 0px 220px 50px;
        margin: 10px 0;
        border: none;
    }

}

.myInput--name{
    margin-right: 10px;
}

button{
    @extend .find-Out-More__button;
    margin-bottom: 100px;
    border: none;
}


@media (max-width: 1080px){
    .myInput--name{
        margin: 0;
    }

}

@media (max-width: 905px){
    
    .myForm{
        margin: 0 0 0 0px;
    }

    .myForm--topForm{
        flex-direction: column;
    }
    .myInput{
        &--name{
            margin-bottom: 10px;
            width: 100%;
        }
        &--email{
            width: 100%;
        }
    }

}