
.navHeader__list{
    background: $primaryColor;
    @include fontSize(20);
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    .navHeader__item__link{
        text-decoration: none;
        text-transform: uppercase;
        margin: 10px;
        color: $fontAccentColor;
        transition: 0.5s;
        &:hover{
            color: $secondaryColor;
        }
        &--active{
            color: $secondaryColor;
            border-bottom: 1px solid $accentColor;
        }
    }
    .navHeader__Sophie{
        @include fontSize(24);
        font-family: $accentFont;
    }
}

.main-Header{
    background: $primaryColor;
    margin: 0 auto;
    height: 600px;
}

.header__wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 90px;
}

.title{
    margin: 0;
    padding-bottom: 70px;
    position: relative;
    @include fontSizeTwo(120);
    &::before{
        background: url("../assets/circle-text.png");
        height: 130px;
        width: 214px;
        background-repeat: no-repeat;
        // background-position: center;
        content: "";
        display: block;
        position: absolute;
        bottom: 100px;
        left: -70px;
    }
}

.main-Header__img{
    box-shadow: 20px 20px white;
    width: 400px;
}






