
// ABOUT SECTION
.about{
    background: $secondaryColor;
    .mainAbout{
        padding: 100px 0;
    }
}

.sophie-title{
    @include fontSize(42);
    margin: 0;
    &--blog{
        @include fontSize(32);
        margin-top: 0;
    }
}

.sophie-content{
        @include pText(20);
        margin: 30px 0;
    }

.find-Out-More__button{
    color: $fontAccentColor;
    background: $accentColor;
    padding: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        background: lighten($accentColor, 10);
    }
}
// ABOUT SECTION ENDS


// BLOG SECTION

.blog--blogTop,
.blog--blogBottom{
    width: 100%;
    display: flex;
}



.blog__img,
.blog__content{
    width: 50%;
}

.blog__img--blogTop{
    background: url("../assets/home-image-2.jpg");
    background-size: cover;
    background-position: center;
    height: 330px;
    background-repeat: no-repeat;
}

.blog__img--blogBottom{
    background: url("../assets/home-image-3.jpg");
    background-size: cover;
    background-position: center;
    height: 330px;
    background-repeat: no-repeat;

}

.blog__content--title{
    @include fontSize(32);
    line-height: none;
}

.blog__content--text{
    @include pText(20);
}

.read-More-Button{
    @extend .find-Out-More__button;
}
// BLOG SECTION ENDS


// MAIN NAV SECTION

.mainNav{
    background: $secondaryColor;
    padding: 150px 0 100px 0;
    
}

.mainNav__wrapper{
    display: flex;
    &--content{
        display: flex;
    }
}

.mainNav__content{
    padding: 0 0 0 20px;
    a{
        text-decoration: none;
    }
}

.mainNav__title{
    @include fontSize(32);
    line-height: none;
    margin: 0;
    transition: 0.3s;
    &:hover {
        color: $accentColor;
     }
}

.mainNav__text{
    @include pText(20);
}

.fas{
    background: orange;
    font-size: 20px;
    border-radius: 50%;
    padding: 14px;
}


// MAIN NAV ENDS

// IMAGE BANNER
.image-Banner{
    // background: url("../assets/home-image-4.jpg");
    // background-size: cover;
    // background-position: center;
    // height: 400px;
    // background-repeat: no-repeat;
}

.blog__img--blogTop,
.blog__img--blogBottom{
    position: relative;
    bottom: 30px;
    box-shadow: 20px 20px $shadowColor, -145px 20px $shadowColor;
}

.blog__img--blogBottom{
    top: 30px;
    box-shadow: 20px 20px $primaryColor, 145px 20px $primaryColor;
}

.blog__content--blogTop{
    padding: 50px 0 0 70px;
}

.blog__content--blogBottom{
    padding: 0px 60px 0 0px;
    text-align: end;

}
// IMAGE BANNER ENDS

// JOURNEY SECTION
.journey{
    background: $secondaryColor;
    padding: 100px 0;
}


.journey-wrapper{
    display: flex;
    flex-direction: row;
}

.journey__img{
    background: url("../assets/home-image-5.jpg");
    background-size: cover;
    background-position: center;
    height: 304px;
    width: 304px;
    background-repeat: no-repeat;
    box-shadow: 20px 20px $primaryColor;
}

.journey__content{
    width: 70%;
    padding: 10px 0 0 50px;
}
// JOURNEY SECTION ENDS

// GALLERY SECTION

.gallery__wrapper--container{
    width: 100%;
    display: flex;
    padding: 100px 0;
    .gallery__wrapper__item:nth-child(2){
        padding: 0 20px;
    }
    .gallery__image{
    display: block;
    width: 100%;
    }
}






