
// ABOUT SECTION
.about{
    background: $secondaryColor;
    .mainAbout{
        padding: 100px 0;
    }
}

.sophie-title{
    @include fontSize(42);
    margin: 0;
}

.sophie-content{
        @include pText(20);
    }

.findOutMore{
    @include buttonWidth(115px);
    .findOutMore__button{
    text-decoration: none;
    }
}
// ABOUT SECTION ENDS


// BLOG SECTION

.blog--blogTop,
.blog--blogBottom{
    width: 100%;
    display: flex;
}

.blog__img,
.blog__content{
    width: 50%;
}

.blog__img--blogTop{
    background: url("../assets/home-image-2.jpg");
    background-size: cover;
    background-position: center;
    height: 330px;
    background-repeat: no-repeat;
}

.blog__img--blogBottom{
    background: url("../assets/home-image-3.jpg");
    background-size: cover;
    background-position: center;
    height: 330px;
    background-repeat: no-repeat;

}

.blog__content--title{
    @include fontSize(32);
    line-height: none;
}

.blog__content--text{
    @include pText(20);
}
// BLOG SECTION ENDS


// MAIN NAV SECTION

.mainNav{
    background: $secondaryColor;
    padding: 150px 0 100px 0;
    
}

.mainNav__wrapper{
    display: flex;
    &--content{
        display: flex;
    }
}

.mainNav__content{
    padding: 0 0 0 20px;
}

.mainNav__title{
    @include fontSize(32);
    line-height: none;
    margin: 0;
}

.mainNav__text{
    @include pText(20);
}

.fas{
    background: orange;
    font-size: 20px;
    border-radius: 50%;
    padding: 14px;
}


// MAIN NAV ENDS

// IMAGE BANNER
.image-Banner{
    background: url("../assets/home-image-4.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    background-repeat: no-repeat;
}

.blog__img--blogTop,
.blog__img--blogBottom{
    position: relative;
    bottom: 30px;
    box-shadow: 20px 20px $shadowColor, -134px 20px $shadowColor;
}

.blog__img--blogBottom{
    top: 30px;
    box-shadow: 20px 20px $shadowColor, 134px 20px $shadowColor;
}

.blog__content--blogTop{
    padding: 70px 0 0 70px;
}

.blog__content--blogBottom{
    padding: 0px 60px 0 0px;
    text-align: end;

}
// IMAGE BANNER ENDS

// JOURNEY SECTION
.journey{
    background: $secondaryColor;
    padding: 100px 0;
}


.journey-wrapper{
    display: flex;
    flex-direction: row;
}

.journey__img{
    background: url("../assets/home-image-5.jpg");
    background-size: cover;
    background-position: center;
    height: 304px;
    width: 304px;
    background-repeat: no-repeat;
    box-shadow: 20px 20px $shadowColor;
}

.journey__content{
    width: 70%;
    padding: 0 0 0 50px;
}




