
// ABOUT SECTION
.about{
    background: $secondaryColor;
    .mainAbout{
        padding: 100px 0;
    }
}

.sophie-title{
    @include fontSize(42);
    margin: 0;
    &--blog{
        @include fontSize(32);
        margin-top: 0;
    }
}

.sophie-content{
        @include pText(20);
        margin: 30px 0;
    }

.find-Out-More__button{
    color: $fontAccentColor;
    background: $accentColor;
    padding: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        background: lighten($accentColor, 10);
    }
}
// ABOUT SECTION ENDS

// BLOG SECTION

.blog--blogTop,
.blog--blogBottom{
    width: 100%;
    display: flex;
}

.blog__img,
.blog__content{
    width: 50%;
}

.blog__img--blogTop{
    background: url("../assets/home-image-2.jpg");
    background-size: cover;
    background-position: center;
    height: 330px;
    background-repeat: no-repeat;
}

.blog__img--blogBottom{
    background: url("../assets/home-image-3.jpg");
    background-size: cover;
    background-position: center;
    height: 330px;
    background-repeat: no-repeat;

}

.blog__content--title{
    @include fontSize(32);
    line-height: none;
}

.blog__content--text{
    @include pText(20);
}

.read-More-Button{
    @extend .find-Out-More__button;
}
// BLOG SECTION ENDS

// MAIN NAV SECTION

.mainNav{
    background: $secondaryColor;
    padding: 150px 0 100px 0;
    
}

.mainNav__wrapper{
    display: flex;
    &--content{
        display: flex;
    }
}

.mainNav__content{
    padding: 0 0 0 20px;
    a{
        text-decoration: none;
    }
}

.mainNav__title{
    @include fontSize(32);
    line-height: none;
    margin: 0;
    transition: 0.3s;
    &:hover {
        color: $accentColor;
     }
}

.mainNav__text{
    @include pText(20);
}

.fas{
    background: orange;
    font-size: 20px;
    border-radius: 50%;
    padding: 14px;
}

// MAIN NAV ENDS

.blog__img--blogTop,
.blog__img--blogBottom{
    position: relative;
    bottom: 30px;
    box-shadow: 20px 20px $shadowColor, -145px 20px $shadowColor;
}

.blog__img--blogBottom{
    top: 30px;
    box-shadow: 20px 20px $primaryColor, 145px 20px $primaryColor;
}

.blog__content--blogTop{
    padding: 50px 0 0 70px;
}

.blog__content--blogBottom{
    padding: 0px 60px 0 0px;
    text-align: end;

}
// IMAGE BANNER ENDS

// JOURNEY SECTION
.journey{
    background: $secondaryColor;
    padding: 100px 0;
}


.journey-wrapper{
    display: flex;
    flex-direction: row;
}

.journey__img{
    background: url("../assets/home-image-5.jpg");
    background-size: cover;
    background-position: center;
    height: 304px;
    width: 304px;
    background-repeat: no-repeat;
    box-shadow: 20px 20px $primaryColor;
}

.journey__content{
    width: 70%;
    padding: 10px 0 0 50px;
}
// JOURNEY SECTION ENDS

// GALLERY SECTION

.gallery__wrapper--container{
    width: 100%;
    display: flex;
    padding: 100px 0;
    .gallery__wrapper__item:nth-child(2){
        padding: 0 20px;
    }
    .gallery__image{
    display: block;
    width: 100%;
    }
}

@media (max-width: 1080px){
// HEADER
    .main-Header{
        background: url("../assets/home-image-1.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
    }

    .main-Header__img{
        display: none;
    }

    .header__wrapper{
        padding-top: 310px;
    }

    .title{
        @include fontSizeTwo(50);
        color: $primaryColor;
        text-shadow: 1px 1px 1px white;
    }

     .title::before{
            bottom: 104px;
            left: -3px;
            transform: rotate(20deg);
        }
// HEADER ENDS
// ABOUT SECTION

    .mainAbout{
        text-align: center;
    } 
// ABOUT SECTION ENDS  
// BLOG SECTION
    .blog__content--title{
        margin: 0;
    }
// BLOG SECTION ENDS
// MAIN NAV SECTION

    .mainNav__wrapper{
        flex-direction: column;
        text-align: center;
        &--content{
            flex-direction: column;
            .mainNav__icon{
                margin-bottom: 20px;
            }
            .mainNav__content{
                padding: 0;
            }
        }

    }

// MAIN NAV SECTION ENDS
// GALLERY SECTION

    .gallery__wrapper--container{
        padding: 50px 0;
    }
// GALLERY SECTION ENDS
}

@media (max-width: 995px){
// BLOG SECTIONS

    .blog--blogTop{
        flex-direction: column;
    }
    .blog--blogBottom{
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }

    .blog__img, .blog__content{
        width: 100%;
    }

    .blog__img--blogTop{
        box-shadow: 100px 20px 40px #a82706, -145px 20px 40px #a82706;
    }

    .blog__img--blogBottom{
        box-shadow: -100px 20px 40px #f6a823, 100px 20px 40px #f6a823;
    }

    .blog__content{
    &--blogTop, &--blogBottom{
        padding: 0;
        text-align: center;
        margin: 50px 0;
        }   
    }

    .blog__content--blogBottom{
        padding-top: 60px;
    }
}

@media (max-width: 905px){
// MAINNAV
.mainNav{
    padding: 80px 0 80px 0;
}

// JOURNEY SECTION 
.journey-wrapper{
    flex-direction: column;
    .journey__img{
        margin: 0 auto;
        }
    }
    .journey__content{
        text-align: center;
        margin: 50px auto 0 auto;
        width: auto;
        padding: 0;
    }

// GALLERY SECTION

    .gallery__wrapper__item:nth-child(3){
        display: none;
    }

}

@media (max-width: 550px){
    .gallery__wrapper--container{
        padding: 20px 0;
    }
}

@media (max-width:480px){
// HEADER NAV
    .navHeader{
        display: none;
    }
    .fa-bars{
        display: block;
    }
}

@media (min-width: 480px){
    .navHeader-Mobile.open{
    display: none;
}
}

@media (max-width: 420px){


// IMAGE BANNER
    .image-Banner{
        display: none;
    }

// MAIN NAV SECTION
    .mainNav{
        padding: 30px 0 30px 0;
    }


    .mainNav__wrapper--content{
        padding-bottom: 30px;
    }

    .mainNav__text{
        display: none;
    }

// JOURNEY SECTION
    .journey{
        padding-top: 0;
    }
    .journey__img{
        box-shadow: none;
        width: 100%;
    }
    .journey__content--title{
        font-size: 3rem;
    }

// GALLERY

    .gallery{
        display: none;
    }


}







