.contact__Header{
    background: url("../assets/contact-image-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    &--title{
        position: absolute;
        @include fontSizeTwo(80);
        margin: -40px 120px;
    }
}

.main-Contact-Container{
    background: $secondaryColor;
    padding-top: 100px;
}

.main-Contact__wrapper{
    display: flex;
}

.aside--contact{
    width: 25%;
    background: white;
    height: 300px;
    width: 350px;
    padding: 40px;
}

.contact-Form{
    width: 75%;
}

// CONTACT SOCIALS
.aside--socials{
    .fab{
        font-size: 25px;
        color: $primaryColor;
        text-shadow: 1px 1px 5px #0000001a;
        padding-right: 20px;
    }
}

.aside{
    &--infoEmail, &--location{
        @include pText(18);
    }
    &--infoEmail{
        font-weight: bold;
    }
}

.aside--list{
        list-style-type: none;
        padding: 0;    
}

@media (max-width: 1080px){
    .myForm--topForm{
        flex-direction: column;
        .myInput{
            &--name, &--email{
                width: 100%;
            }
        }
    }
    .myInput--name{
        margin-bottom: 15px;
    }
}



@media (max-width: 905px){

    .main-Contact__wrapper{
        flex-direction: column;
        width: 90%;
    }

    .aside--contact{
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }

    .contact-Form{
        width: 100%;
        margin: 0 auto;
        padding-top: 50px;
    }
}

@media (max-width: 845px){
    .contact__Header{
        justify-content: center;
        .contact__Header--title{
            margin: -40px auto;
        }
    }
}

@media (max-width: 575px){

    .aside--contact{
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 605px){
    .contact__Header{
        .contact__Header--title{
            margin: -40px 120px;
        }
    }
}

@media (max-width: 400px){
    .contact__Header--title{
        margin: -40px 15%;
        font-size: 6rem;
    }
}