article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto; }

img {
  display: block;
  width: 100%; }

.navHeader__list {
  background: #f6a823;
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Roboto';
  font-weight: bold;
  text-transform: uppercase;
  color: #2c2c2c;
  letter-spacing: 1px;
  line-height: 29px;
  height: 50px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none; }
  .navHeader__list .navHeader__item__link {
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
    color: #2c2c2c;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .navHeader__list .navHeader__item__link:hover {
      color: #f0efed; }
    .navHeader__list .navHeader__item__link--active {
      color: #f0efed;
      border-bottom: 1px solid #05afc1; }
  .navHeader__list .navHeader__Sophie {
    font-size: 24px;
    font-size: 2.4rem;
    font-family: 'Roboto';
    font-weight: bold;
    text-transform: uppercase;
    color: #2c2c2c;
    letter-spacing: 1px;
    line-height: 29px;
    font-family: "Lora"; }

.main-Header {
  background: #f6a823;
  margin: 0 auto;
  height: 600px; }

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 90px; }

.title {
  margin: 0;
  padding-bottom: 70px;
  position: relative;
  font-size: 120px;
  font-size: 12rem;
  font-family: 'Lora';
  font-weight: bold;
  text-transform: uppercase;
  color: #2c2c2c;
  line-height: 92px; }
  .title::before {
    background: url("../assets/circle-text.png");
    height: 130px;
    width: 214px;
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: absolute;
    bottom: 100px;
    left: -70px; }

.main-Header__img {
  -webkit-box-shadow: 20px 20px white;
  box-shadow: 20px 20px white;
  width: 400px; }

.navHeader-Mobile {
  display: none;
  position: absolute;
  background: #4f4f4fcc;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding-top: 70px; }
  .navHeader-Mobile .navHeader__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 130px 0 0 0;
    background: none; }
    .navHeader-Mobile .navHeader__list .navHeader__item {
      margin: 10px; }
    .navHeader-Mobile .navHeader__list .navHeader__item__link {
      color: #f6a823;
      text-shadow: 2px 2px #2c2c2c; }

.navHeader-Mobile.open {
  display: block; }

.fa-bars {
  display: none;
  position: absolute;
  right: 5%;
  top: 2%; }

.about {
  background: #f0efed; }
  .about .mainAbout {
    padding: 100px 0; }

.sophie-title {
  font-size: 42px;
  font-size: 4.2rem;
  font-family: 'Roboto';
  font-weight: bold;
  text-transform: uppercase;
  color: #2c2c2c;
  letter-spacing: 1px;
  line-height: 29px;
  margin: 0; }
  .sophie-title--blog {
    font-size: 32px;
    font-size: 3.2rem;
    font-family: 'Roboto';
    font-weight: bold;
    text-transform: uppercase;
    color: #2c2c2c;
    letter-spacing: 1px;
    line-height: 29px;
    margin-top: 0; }

.sophie-content {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Roboto';
  color: #2c2c2c;
  line-height: 32px;
  margin: 30px 0; }

.find-Out-More__button, .read-More-Button, button {
  color: #2c2c2c;
  background: #05afc1;
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .find-Out-More__button:hover, .read-More-Button:hover, button:hover {
    background: #06dcf3; }

.blog--blogTop,
.blog--blogBottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.blog__img,
.blog__content {
  width: 50%; }

.blog__img--blogTop {
  background: url("../assets/home-image-2.jpg");
  background-size: cover;
  background-position: center;
  height: 330px;
  background-repeat: no-repeat; }

.blog__img--blogBottom {
  background: url("../assets/home-image-3.jpg");
  background-size: cover;
  background-position: center;
  height: 330px;
  background-repeat: no-repeat; }

.blog__content--title {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: 'Roboto';
  font-weight: bold;
  text-transform: uppercase;
  color: #2c2c2c;
  letter-spacing: 1px;
  line-height: 29px;
  line-height: none; }

.blog__content--text {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Roboto';
  color: #2c2c2c;
  line-height: 32px; }

.mainNav {
  background: #f0efed;
  padding: 150px 0 100px 0; }

.mainNav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .mainNav__wrapper--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.mainNav__content {
  padding: 0 0 0 20px; }
  .mainNav__content a {
    text-decoration: none; }

.mainNav__title {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: 'Roboto';
  font-weight: bold;
  text-transform: uppercase;
  color: #2c2c2c;
  letter-spacing: 1px;
  line-height: 29px;
  line-height: none;
  margin: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .mainNav__title:hover {
    color: #05afc1; }

.mainNav__text {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Roboto';
  color: #2c2c2c;
  line-height: 32px; }

.fas {
  background: orange;
  font-size: 20px;
  border-radius: 50%;
  padding: 14px; }

.blog__img--blogTop,
.blog__img--blogBottom {
  position: relative;
  bottom: 30px;
  -webkit-box-shadow: 20px 20px #a82706, -145px 20px #a82706;
  box-shadow: 20px 20px #a82706, -145px 20px #a82706; }

.blog__img--blogBottom {
  top: 30px;
  -webkit-box-shadow: 20px 20px #f6a823, 145px 20px #f6a823;
  box-shadow: 20px 20px #f6a823, 145px 20px #f6a823; }

.blog__content--blogTop {
  padding: 50px 0 0 70px; }

.blog__content--blogBottom {
  padding: 0px 60px 0 0px;
  text-align: end; }

.journey {
  background: #f0efed;
  padding: 100px 0; }

.journey-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.journey__img {
  background: url("../assets/home-image-5.jpg");
  background-size: cover;
  background-position: center;
  height: 304px;
  width: 304px;
  background-repeat: no-repeat;
  -webkit-box-shadow: 20px 20px #f6a823;
  box-shadow: 20px 20px #f6a823; }

.journey__content {
  width: 70%;
  padding: 10px 0 0 50px; }

.gallery__wrapper--container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0; }
  .gallery__wrapper--container .gallery__wrapper__item:nth-child(2) {
    padding: 0 20px; }
  .gallery__wrapper--container .gallery__image {
    display: block;
    width: 100%; }

@media (max-width: 1080px) {
  .main-Header {
    background: url("../assets/home-image-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px; }
  .main-Header__img {
    display: none; }
  .header__wrapper {
    padding-top: 520px; }
  .title {
    font-size: 50px;
    font-size: 5rem;
    font-family: 'Lora';
    font-weight: bold;
    text-transform: uppercase;
    color: #2c2c2c;
    line-height: 92px;
    color: #f6a823;
    text-shadow: 1px 1px 1px white; }
  .title::before {
    bottom: 104px;
    left: -3px;
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg); }
  .mainAbout {
    text-align: center; }
  .blog__content--title {
    margin: 0; }
  .mainNav__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    .mainNav__wrapper--content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .mainNav__wrapper--content .mainNav__icon {
        margin-bottom: 20px; }
      .mainNav__wrapper--content .mainNav__content {
        padding: 0; }
  .gallery__wrapper--container {
    padding: 50px 0; } }

@media (max-width: 995px) {
  .blog--blogTop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .blog--blogBottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-bottom: 50px; }
  .blog__img,
  .blog__content {
    width: 100%; }
  .blog__img--blogTop {
    -webkit-box-shadow: 100px 20px 40px #a82706, -145px 20px 40px #a82706;
    box-shadow: 100px 20px 40px #a82706, -145px 20px 40px #a82706; }
  .blog__img--blogBottom {
    -webkit-box-shadow: -100px 20px 40px #f6a823, 100px 20px 40px #f6a823;
    box-shadow: -100px 20px 40px #f6a823, 100px 20px 40px #f6a823; }
  .blog__content--blogTop, .blog__content--blogBottom {
    padding: 0;
    text-align: center;
    margin: 50px 0; }
  .blog__content--blogBottom {
    padding-top: 60px; } }

@media (max-width: 905px) {
  .mainNav {
    padding: 80px 0 80px 0; }
  .journey-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .journey-wrapper .journey__img {
      margin: 0 auto; }
  .journey__content {
    text-align: center;
    margin: 50px auto 0 auto;
    width: auto;
    padding: 0; }
  .gallery__wrapper__item:nth-child(3) {
    display: none; } }

@media (max-width: 550px) {
  .gallery__wrapper--container {
    padding: 20px 0; }
  .sophie-title {
    font-size: 3rem; } }

@media (max-width: 480px) {
  .navHeader {
    display: none; }
  .fa-bars {
    display: block; } }

@media (min-width: 480px) {
  .navHeader-Mobile.open {
    display: none;
    height: auto;
    padding-top: 70px; } }

@media (max-width: 420px) {
  .image-Banner {
    display: none; }
  .mainNav {
    padding: 30px 0 30px 0; }
  .mainNav__wrapper--content {
    padding-bottom: 30px; }
  .mainNav__text {
    display: none; }
  .journey {
    padding-top: 0; }
  .journey__img {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%; }
  .journey__content--title {
    font-size: 3rem; }
  .gallery {
    display: none; } }

.footer__item {
  background: #2c2c2c; }
  .footer__item .footer__item--content {
    margin: 0 auto;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    padding: 7px 0; }

.main-Blog__Header {
  background: url("../assets/blog-image-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative; }
  .main-Blog__Header--title {
    position: absolute;
    font-size: 80px;
    font-size: 8rem;
    font-family: 'Lora';
    font-weight: bold;
    text-transform: uppercase;
    color: #2c2c2c;
    line-height: 92px;
    margin: -40px 120px; }

.main-Blog-Container {
  background: #f0efed;
  padding-top: 100px; }
  .main-Blog-Container a {
    color: #285e64;
    font-weight: bold;
    text-decoration: none; }
    .main-Blog-Container a:hover {
      color: #378088; }

.main-Blog-Wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-Blog__about,
.main-Blog__recent,
.main-Blog__article,
.main-Blog__article--archive {
  background: white; }

.main-Blog__title--about, .main-Blog__title--recent {
  font-size: 24px;
  font-size: 2.4rem;
  font-family: 'Roboto';
  font-weight: bold;
  text-transform: uppercase;
  color: #2c2c2c;
  letter-spacing: 1px;
  line-height: 29px; }

.main-Blog__text {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Roboto';
  color: #2c2c2c;
  line-height: 32px; }
  .main-Blog__text--list {
    font-size: 20px;
    font-size: 2rem;
    font-family: 'Roboto';
    color: #2c2c2c;
    line-height: 32px; }
  .main-Blog__text--sophie-Date {
    font-size: 20px;
    font-size: 2rem;
    font-family: 'Roboto';
    color: #2c2c2c;
    line-height: 32px;
    font-style: italic; }

.main-Blog__aside {
  width: 320px; }

.main-Blog__about {
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px; }

.main-Blog__recent {
  padding: 20px; }

.main-Blog__text--list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-Blog__text--item::before {
  content: "\2022";
  color: #f6a823;
  font-size: 20px;
  margin: 0 15px 0 0; }

.main-Blog__section {
  width: 75%; }

.main-Blog__article {
  margin: 0 0 20px 40px;
  padding: 50px;
  border-bottom: 5px solid #f6a823; }
  .main-Blog__article--content {
    margin: 0 0 0 20px; }

.main-Blog__text {
  margin-top: 0; }

.main-Blog__article--archive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 40px;
  padding: 30px; }
  .main-Blog__article--archive:nth-child(3) {
    border-bottom: 5px solid #f6a823; }

.main-Blog__article--img {
  width: 80px;
  height: 80px; }

.main-Blog__text--date {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Roboto';
  color: #2c2c2c;
  line-height: 32px;
  color: #285e64;
  font-style: italic;
  margin-top: 0; }

@media (max-width: 905px) {
  .main-Blog__recent {
    display: none; }
  .main-Blog-Wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main-Blog-Wrapper .main-Blog__aside {
      width: 100%; }
      .main-Blog-Wrapper .main-Blog__aside .main-Blog__about {
        height: 500px; }
  .main-Blog__about img {
    float: left;
    width: 50%;
    height: 400px;
    -o-object-fit: contain;
    object-fit: contain; }
  .main-Blog__title--about {
    margin: 150px 0 20px 360px; }
  .main-Blog__text-about {
    margin-left: 360px; }
  .main-Blog__section {
    width: 100%; }
    .main-Blog__section .main-Blog__article {
      margin: 0 0 20px 0px; }
      .main-Blog__section .main-Blog__article .sophie-title--blog, .main-Blog__section .main-Blog__article .main-Blog__text--sophie-Date {
        text-align: center; }
  .main-Blog__article--archive {
    margin: 0 0 20px 0px; } }

@media (max-width: 768px) {
  .main-Blog__about img {
    float: none;
    width: 100%; }
  .main-Blog__title--about,
  .main-Blog__text-about {
    margin: 30px 0 0 0; }
  .main-Blog-Wrapper .main-Blog__aside .main-Blog__about {
    height: 590px;
    text-align: center;
    padding: 0 20px 0 20px; } }

@media (max-width: 550px) {
  .main-Blog__article {
    padding: 30px; }
  .main-Blog__article--archive {
    padding: 10px; }
  .main-Blog__article--archive:nth-child(2) {
    display: none; }
  .main-Blog__article--item {
    display: none; }
  .main-Blog__title--about,
  .main-Blog__text-about {
    margin: 0; } }

@media (max-width: 400px) {
  .main-Blog__Header--title {
    margin: -40px 90px; } }

@media (max-width: 320px) {
  .main-Blog__Header--title {
    margin: -40px 50px; } }

.myForm {
  margin: 0 0 0 40px; }
  .myForm--topForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .myForm--bottomForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.myInput--name, .myInput--email {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Roboto';
  color: #2c2c2c;
  line-height: 32px;
  width: 50%;
  height: 50px;
  padding-left: 50px;
  font-style: italic; }

.myInput--Comment {
  width: 100%;
  height: 300px;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Roboto';
  color: #2c2c2c;
  line-height: 32px;
  padding: 0px 0px 220px 50px;
  margin: 10px 0; }

.myInput--name {
  margin-right: 10px; }

button {
  margin-bottom: 100px; }

@media (max-width: 1080px) {
  .myInput--name {
    margin: 0; } }

@media (max-width: 905px) {
  .myForm {
    margin: 0 0 0 0px; }
  .myForm--topForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .myInput--name {
    margin-bottom: 10px;
    width: 100%; }
  .myInput--email {
    width: 100%; } }

.contact__Header {
  background: url("../assets/contact-image-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative; }
  .contact__Header--title {
    position: absolute;
    font-size: 80px;
    font-size: 8rem;
    font-family: 'Lora';
    font-weight: bold;
    text-transform: uppercase;
    color: #2c2c2c;
    line-height: 92px;
    margin: -40px 120px; }

.main-Contact-Container {
  background: #f0efed;
  padding-top: 100px; }

.main-Contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.aside--contact {
  width: 25%;
  background: white;
  height: 300px;
  width: 350px;
  padding: 40px; }

.contact-Form {
  width: 75%; }

.aside--socials .fab {
  font-size: 25px;
  color: #f6a823;
  text-shadow: 1px 1px 5px #0000001a;
  padding-right: 20px; }

.aside--infoEmail, .aside--location {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Roboto';
  color: #2c2c2c;
  line-height: 32px; }

.aside--infoEmail {
  font-weight: bold; }

.aside--list {
  list-style-type: none;
  padding: 0; }
