article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto; }

img {
  display: block;
  width: 100%; }

.navHeader__list {
  background: #f6a823;
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Roboto';
  font-weight: bold;
  text-transform: uppercase;
  color: #2c2c2c;
  letter-spacing: 1px;
  line-height: 29px;
  height: 50px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none; }
  .navHeader__list .navHeader__item__link {
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
    color: #2c2c2c; }
  .navHeader__list .navHeader__Sophie {
    font-size: 24px;
    font-size: 2.4rem;
    font-family: 'Roboto';
    font-weight: bold;
    text-transform: uppercase;
    color: #2c2c2c;
    letter-spacing: 1px;
    line-height: 29px;
    font-family: "Lora"; }

.main-Header {
  background: #f6a823;
  margin: 0 auto;
  height: 600px; }

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 90px; }

.title {
  margin: 0;
  padding-bottom: 70px;
  position: relative;
  font-size: 120px;
  font-size: 12rem;
  font-family: 'Lora';
  font-weight: bold;
  text-transform: uppercase;
  color: #2c2c2c;
  line-height: 92px; }
  .title::before {
    background: url("../assets/circle-text.png");
    height: 130px;
    width: 214px;
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: absolute;
    bottom: 100px;
    left: -70px; }

.main-Header__img {
  -webkit-box-shadow: 20px 20px white;
  box-shadow: 20px 20px white;
  width: 400px; }

.about {
  background: #f0efed; }
  .about .mainAbout {
    padding: 100px 0; }

.sophie-title {
  font-size: 42px;
  font-size: 4.2rem;
  font-family: 'Roboto';
  font-weight: bold;
  text-transform: uppercase;
  color: #2c2c2c;
  letter-spacing: 1px;
  line-height: 29px;
  margin: 0; }
  .sophie-title--blog {
    font-size: 32px;
    font-size: 3.2rem;
    font-family: 'Roboto';
    font-weight: bold;
    text-transform: uppercase;
    color: #2c2c2c;
    letter-spacing: 1px;
    line-height: 29px;
    margin-top: 0; }

.sophie-content {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Roboto';
  color: #2c2c2c;
  line-height: 32px;
  margin: 30px 0; }

.find-Out-More__button, .read-More-Button, button {
  color: #2c2c2c;
  background: #05afc1;
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none; }

.blog--blogTop,
.blog--blogBottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.blog__img,
.blog__content {
  width: 50%; }

.blog__img--blogTop {
  background: url("../assets/home-image-2.jpg");
  background-size: cover;
  background-position: center;
  height: 330px;
  background-repeat: no-repeat; }

.blog__img--blogBottom {
  background: url("../assets/home-image-3.jpg");
  background-size: cover;
  background-position: center;
  height: 330px;
  background-repeat: no-repeat; }

.blog__content--title {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: 'Roboto';
  font-weight: bold;
  text-transform: uppercase;
  color: #2c2c2c;
  letter-spacing: 1px;
  line-height: 29px;
  line-height: none; }

.blog__content--text {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Roboto';
  color: #2c2c2c;
  line-height: 32px; }

.mainNav {
  background: #f0efed;
  padding: 150px 0 100px 0; }

.mainNav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .mainNav__wrapper--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.mainNav__content {
  padding: 0 0 0 20px; }

.mainNav__title {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: 'Roboto';
  font-weight: bold;
  text-transform: uppercase;
  color: #2c2c2c;
  letter-spacing: 1px;
  line-height: 29px;
  line-height: none;
  margin: 0; }

.mainNav__text {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Roboto';
  color: #2c2c2c;
  line-height: 32px; }

.fas {
  background: orange;
  font-size: 20px;
  border-radius: 50%;
  padding: 14px; }

.blog__img--blogTop,
.blog__img--blogBottom {
  position: relative;
  bottom: 30px;
  -webkit-box-shadow: 20px 20px #a82706, -145px 20px #a82706;
  box-shadow: 20px 20px #a82706, -145px 20px #a82706; }

.blog__img--blogBottom {
  top: 30px;
  -webkit-box-shadow: 20px 20px #f6a823, 145px 20px #f6a823;
  box-shadow: 20px 20px #f6a823, 145px 20px #f6a823; }

.blog__content--blogTop {
  padding: 50px 0 0 70px; }

.blog__content--blogBottom {
  padding: 0px 60px 0 0px;
  text-align: end; }

.journey {
  background: #f0efed;
  padding: 100px 0; }

.journey-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.journey__img {
  background: url("../assets/home-image-5.jpg");
  background-size: cover;
  background-position: center;
  height: 304px;
  width: 304px;
  background-repeat: no-repeat;
  -webkit-box-shadow: 20px 20px #f6a823;
  box-shadow: 20px 20px #f6a823; }

.journey__content {
  width: 70%;
  padding: 10px 0 0 50px; }

.gallery__wrapper--container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0; }
  .gallery__wrapper--container .gallery__wrapper__item:nth-child(2) {
    padding: 0 20px; }
  .gallery__wrapper--container .gallery__image {
    display: block;
    width: 100%; }

.footer__item {
  background: #2c2c2c; }
  .footer__item .footer__item--content {
    margin: 0 auto;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    padding: 7px 0; }

.main-Blog-Container {
  background: #f0efed;
  padding-top: 100px; }

.main-Blog-Wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-Blog__about,
.main-Blog__recent,
.main-Blog__article,
.main-Blog__article--archive {
  background: white; }

.main-Blog__title--about, .main-Blog__title--recent {
  font-size: 24px;
  font-size: 2.4rem;
  font-family: 'Roboto';
  font-weight: bold;
  text-transform: uppercase;
  color: #2c2c2c;
  letter-spacing: 1px;
  line-height: 29px; }

.main-Blog__text {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Roboto';
  color: #2c2c2c;
  line-height: 32px; }
  .main-Blog__text--list {
    font-size: 20px;
    font-size: 2rem;
    font-family: 'Roboto';
    color: #2c2c2c;
    line-height: 32px; }

.main-Blog__aside {
  width: 25%; }

.main-Blog__about {
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px; }

.main-Blog__recent {
  padding: 20px; }

.main-Blog__text--list {
  margin: 0;
  padding: 0 20px; }

.main-Blog__section {
  width: 75%; }

.main-Blog__article {
  margin: 0 0 20px 20px;
  padding: 50px;
  border-bottom: 5px solid #f6a823; }
  .main-Blog__article--content {
    margin: 0 0 0 20px; }

.main-Blog__text {
  margin-top: 0; }

.main-Blog__article--archive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 20px;
  padding: 50px; }
  .main-Blog__article--archive:nth-child(3) {
    border-bottom: 5px solid #f6a823; }

.main-Blog__article--img {
  width: 80px;
  height: 80px; }

.myForm {
  margin: 0 0 0 20px; }
  .myForm--topForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .myForm--bottomForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.myInput--name, .myInput--email {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Roboto';
  color: #2c2c2c;
  line-height: 32px;
  width: 50%;
  height: 50px;
  padding-left: 50px;
  font-style: italic; }

.myInput--Comment {
  width: 100%;
  height: 300px;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Roboto';
  color: #2c2c2c;
  line-height: 32px;
  padding: 0px 0px 220px 50px;
  margin: 10px 0; }

.myInput--name {
  margin-right: 10px; }
